
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
  @Styles.Render("~/Content/cover")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:black; margin:0;">
    <div class="container"> 
      <div style="min-height:740px; padding-top:100px; background-image:url('https://sistrategiadrive.blob.core.windows.net/wwwroot/5698930519201440.jpg')">

        <div class="panel-middle">
          <h1>Comming soon...</h1>
          <p>Sistrategia Hatchery is Sistrategia's Enterprise-grade Entity Builder. You can create business entities on a variety of providers like Microsoft's Entity Framework, ADO.NET and for many types of cloud storages.</p>
        </div>
        </div>
    </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
